@model EncryptedChatFlow_Web.Views.ViewModels.ForgotPasswordViewModel

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Forgot Password</h2>
                </div>
                <div class="card-body">
                    <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input type="email" asp-for="Email" class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


