@{
    ViewData["Title"] = "Account Locked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">Account Locked</div>
                <div class="card-body">
                    <h4 class="card-title">Too many failed login attempts</h4>
                    <p class="card-text">Your account has been locked due to too many failed login attempts. Please try again later or contact support if you believe this is an error.</p>
                </div>
            </div>
        </div>
    </div>
</div>
