<div class="container text-center">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-4 text-dark">Welcome to SecureChatFlow</h1>
            <p class="lead text-dark">Your private conversations secured with top-notch security.</p>
            <hr class="my-4">
            <p class="text-dark">Start encrypting your conversations now.</p>

            <!-- Add your social login links here -->
            <p class="text-dark">Sign in with:</p>
            <a class="btn btn-primary btn-lg mr-2" href="/signin" role="button">Google</a>
            <a class="btn btn-primary btn-lg" href="/signin" role="button">Facebook</a>

            <hr class="my-4">
            <p class="text-dark">Or explore more features.</p>
            <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</div>




